#main{
    line-height: 3;
}
#predict{
    padding: 3% 5%;
}
#main{
    margin: 5% 20%;
}
.cont{
    margin-left: 20%;
}
#pname{
    margin-left: 3%;
    color: brown;
}
#pid{
    margin-left: 5%;
}
#price{
    margin-left: 5%;
}
input{
    padding: 2%;
}
button{
    margin-left: 20%;
    padding: 3%
}
table{
    margin-left: 10%;
}